* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #f7f7f7;
}
span {
  color: #fce103;
}
nav > .nombre {
  text-decoration: none;
  color: #000;
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 800;
  margin-right: 1rem;
  cursor: pointer;
}
.header {
  background-color: #000;
  color: #fff;
  height: 450px;
  padding: 1.5rem 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
}
.logo-img {
  width: 3rem;
  margin-left: 1rem;
}
.app-foto {
  width: 350px;
  position: absolute;
  margin-top: 22rem;
  background-color: none;
}
.titulo {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.subtitulo {
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 3rem;
}
h1{
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: -1rem;
  padding-bottom: 1rem;
}
.letras {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.btn-img {
  width: 380px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.btn {
  text-decoration: none;
  font-size: 20px;
  color: #000;
  font-weight: 800;
  background-color: #fce103;
  border-radius: 10px;
  padding: 4px 8px;
}
.btn-1 {
}
.btn-2 {
  margin: 2rem 0 4rem 0;
}
.video {
  height: 201px;
  width: 358px;
  position: absolute;
}
.v-center {
  margin: 10rem 0 16rem 0;
  display: flex;
  justify-content: center;
}
.btn-3 {
  position: absolute;
  margin-top: 14rem;
}

.wrap {
  margin-top: 26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 3rem 0;
}
.productos {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.productos > h2,
li {
  color: #000;
}
.productos > h2 {
  font-weight: 900;
  text-align: center;
  letter-spacing: 2px;
}


ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  height: 250px;
  width: 80%;
  max-width: 490px;
  padding: 0rem 1rem;
  border: #fce103 2px solid;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #000;
}
ul >li {
}

.articulos {
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
}

.art-1 {
  background-image: url(../mancuernas.jpeg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 260px;
}
.art-2 {
  background-image: url(../ejercicio.jpeg);
  background-position-y: -1rem;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 260px;
}
.art-3 {
  background-image: url(../estiramiento.jpeg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 260px;
}
.a-text {
  background-color: #000;
  color: #fff;
  height: 255px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
  flex-direction: column;
}
.a-text h3 {
  font-weight: 900;
  font-size: 25px;
  letter-spacing: 1px;
}
.a-text p {
  letter-spacing: 1px;
}
.borde-amarillo {
  border-bottom: 5px solid #fce103;
}
.blok-btn-w {
  width: 100%;
  text-align: center;
  padding-bottom: 4rem;
}
.blok-btn {
  width: 100%;
  background-color: #000;
  text-align: center;
  padding: 2rem 0 2rem 0;
}
.faqs {
  background-color: #000;
  color: #fff;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.faqs  h2 {
  margin: 3rem 0 2rem 0;
}
.faq {
  margin: 1rem 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
}
.fittest {
  color: #fce103;
  font-weight: 800;
}
.question h3 {
  width: 330px;
  letter-spacing: 1px;
}
.answer p {
  padding-top: 1rem;
  width: 360px;
}
.rotate {
  transform: rotate(180deg);
}
footer{
height: 100px;
display: flex;
align-items: center;
justify-content: space-around;
}
.contacto{
  text-decoration: none;
  color: #000;
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 800;
  cursor: pointer;
}
.instagram-icon{
width: 2rem;
height: 2rem;
color: #000;
}

@media (max-width: 780px) {
  .grid-box {
    display: flex;
    flex-direction: column-reverse;
  }
  .art-1,
  .art-2,
  .art-3 {
    margin: 1rem;
  }
}

@media (min-width: 780px) {
  .btn {
    border-radius: 10px;
    padding: 4px 8px;
    font-size: 25px;
  }
  .video {
    width: 748px;
    height: 421px;
  }
  .btn-3 {
    margin-top: 28rem;
  }
  .v-center {
    height: 15rem;
  }
  .faqs{
    padding-bottom: 4rem;
  }
  .faqs  h2 {
font-size: 35px;  
letter-spacing: 2px;
}
  .question {
    width: 500px;
  }
  .question h3 {
    width: 450px;
  }
  .answer p {
    width: 500px;
  }
}
@media (min-width: 1010px) {
  .wrap {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .wrap .productos{
    width: 500px;
  }
}
